.table {
    border-collapse: separate !important;
    border-spacing: 0 7px;
    text-align: center;
    min-width: 100%;
    overflow-x: scroll;
}
  
.table * {
    border-style: none;
    border: 0px;
    font-style: normal;
    font-weight: 700;
    line-height: 27px;
    color: #000000;
}
  
  .table tbody > tr {
    background-color: #F9E4D7;
  }
  
  .table tr > td:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  } 
  
  .table tr > td:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }

.tabligation {
    text-align: center;
}

.tabligation input {
    width: 50px;
    border-radius: 2px;
    border: 0px;
    text-align: center;
}

.tabligation p {
    display: inline-block;
    margin: 0;
}

.tabligation > * {
    margin-right: 0.25rem !important;
    vertical-align: middle;
}

.tabligation .button {
    color: rgba(225, 221, 221, 1);
}

.tabligation .button.active{
    color: black;
    cursor: pointer;
}